<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REVITACYCLE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Big Shoulders Text">
    <!-- Monotype -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        {% if message in "Success! Press \"See results\" to see our analysis of your item." %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% else %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <!-- ############### -->
    <!-- ### NAV BAR ### -->
    <!-- ############### -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="static/images/logo.png" width="30" height="30" alt="logo">
      <a class="navbar-brand" href="/">REVITACYCLE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about-recycling">About Recycling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/our-team">Meet Our Team</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- ###################### -->
    <!-- ### MAIN JUMBOTRON ### -->
    <!-- ###################### -->
    <div class="container jumbotron jumbotron-fluid">
      <div class="row">
        <div class="col">
          <!-- ############ -->
          <!-- ### LOGO ### -->
          <!-- ############ -->
          <!-- style="width: 40%; height: 40%;" -->
          <img src="static/images/logo.png" alt="logo" style="width: 80%; height: 80%;">
        </div>
        <div class="col">
          <div class="row">
            <div style="text-align: center; font-family: 'Big Shoulders Text'">
              <h1>Try it!</h1>
              <h3>Upload an image to find out whether or not your item is recyclable!</h3>
              <!-- ##################### -->
              <!-- ### IMAGE VERSION ### -->
              <!-- ##################### -->
              <form action="/" enctype="multipart/form-data" method="POST">
                <button class="btn btn-primary"><input type=file name=file /></button>
                <button class="btn btn-primary"><input type=submit value=Upload></button>
              </form>
              <!-- ################### -->
              <!-- ### SEE RESULTS ### -->
              <!-- ################### -->
              {% if completed %}
              <br>
              <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#results">See results</button>
              {% endif %}
            </div>
          </div>
          <!-- ############ -->
          <!-- ### TEXT ###-->
          <!-- ############ -->
          <div class="container row" style="padding-top: 5%; padding-right: 5%">
            <p>Revitacycle is a revolutionary new website in the works which allows
               users to upload a picture of a certain object and figure out whether the
               object is recyclable or not. We are using machine learning tools to
               compare a user imported image to a general database. We then use the data
                collected from the image to figure out the top items it could be. The items
                are then filtered recyclable or not and then when the result is computed,
                the user will see an output of “Your item is recyclable” or “Your item is
                not recyclable”.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ################# -->
    <!-- ### COPYRIGHT ###-->
    <!-- ################# -->
    <footer>&copy; Copyright 2020 Kian Chakamian, Manav Khanvilkar, Max Norman</footer>

    <!-- ############# -->
    <!-- ### MODAL ### -->
    <!-- ############# -->
    <div class="modal fade" id="results" tabindex="-1", role="dialog", aria-labelledby="resultsLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="resultsLabelTitle">{{recyclable}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% if isRecyclable %}
          <div class="modal-body">
            <p>{{percent_sure}}</p>
          </div>
          {% endif %}
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ########## -->
    <!-- ### JS ###-->
    <!-- ########## -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
