<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REVITACYCLE - MEET OUR TEAM</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Big Shoulders Text">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <!-- ############### -->
    <!-- ### NAV BAR ### -->
    <!-- ############### -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img src="static/images/logo.png" width="30" height="30" alt="logo">
      <a class="navbar-brand" href="/">REVITACYCLE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about-recycling">About Recycling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/our-team">Meet Our Team</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- ###################### -->
    <!-- ### MAIN JUMBOTRON ### -->
    <!-- ###################### -->
    <div class="container jumbotron jumbotron-fluid">
      <div style="text-align:center; font-family: 'Big Shoulders Text'">
        <h1>Meet our team!</h1>
      </div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="static/images/kian.jpeg" class="card-img-top" alt="Kian Chakamian">
              <div class="card-body">
                <h5 class="card-title">Kian Chakamian</h5>
                <p class="card-text">Hello, I am Kian Chakamian(15) and am in 9th grade at Canyon Crest Academy. When I am not at school, I enjoy programming, tennis, mountain biking, and skiing. I am an Eagle Scout and founder of Organized Teen, a program to alleviate teen stress through a series of videos teaching advanced organization.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="static/images/manav.jpeg" class="card-img-top" alt="Manav Khanvilkar">
              <div class="card-body">
                <h5 class="card-title">Manav Khanvilkar</h5>
                <p class="card-text">Manav is currently a 9th grader at Canyon Crest Academy. He resides in San Diego, California with his family. In his free time, he likes to play tennis and hang out with his friends. When he grows up, he is aiming to be an entrepreneur in the field of robotics.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="static/images/max.jpg" class="card-img-top" alt="Max Norman">
              <div class="card-body">
                <h5 class="card-title">Max Norman</h5>
                <p class="card-text">Max is a freshman at Canyon Crest Academy. Currently, he lives in San Diego, California with his family and dogs. Along with coding, Max enjoys playing the guitar, skiing and rock climbing.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ########## -->
    <!-- ### JS ###-->
    <!-- ########## -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
